/* ==========================================================================
   DARK THEME
   ========================================================================== */

$gray: #7a8288;
$dark-gray: mix(#000, $gray, 40%);
$darker-gray: mix(#000, $gray, 60%);
$light-gray: mix(#fff, $gray, 50%);
$lighter-gray: mix(#fff, $gray, 90%);
$body-color: #252a34;


$background: #202124; //#181818;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$code-background: mix(#000, $background, 15%);
$code-background-dark: mix(#000, $background, 20%);
$text: #eaeaea;
$border: mix(#fff, $background, 20%);
$primary-color: #919191;
$success-color: #62c462;
$warning-color: #f89406;
$danger-color: #ee5f5b;
$info-color: #52adc8;
$notice-color               : #7a8288;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;



$link: mix(#000, $info-color, 15%) !default;
$link-hover: mix(#000, $link, 25%) !default;
$link-visited: mix(#fff, $link, 15%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;




/* Dark theme for the site */
:root {
    --global-base-color                 : #{$background};
    --global-bg-color                   : #{$background};
    --global-border-color               : #{$background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$dark-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-hover};
    --global-link-color-visited         : #{$link-visited};    
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$background-light};    
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$background-lighter};
}
